<section class="newsletter-wrapper">
						<h3>Newsletter Sign Up</h3>
						<form class="newsletter" action="https://tinyletter.com/chloedonegan" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/chloedonegan', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
							<div>
								<input name="email" type="text" placeholder="Email Address" id="tlemail">
								<input  type="hidden" value="1" name="embed"/>
								<input name="sub" type="submit" value="Sign Up">
								<br class="clear">
							</div>
						</form>
</section>