---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";

span {
   background-color: #fcf3e7;
 }
 span:hover {
   background-color: grey;
   color: white;
 }

 p {
   line-height: 30px;
 }
 .article-wrap {
   font-size: 1.1em;
   text-align: justify;
 }

.share {
	text-align: center;
  a {
    text-decoration: none;
    color: #bbb;
    padding-left: 12px;
    .hidden {
      display: none;
    }
    &:hover {
      color: #333;
    }
  }
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: #grey;
        }
      }
    }
