---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";

span {
   background-color: #fcf3e7;
 }
 span:hover {
   background-color: grey;
   color: white;
 }

 p {
   line-height: 30px;
 }
 .article-wrap {
   font-size: 1.1em;
   text-align: justify;
 }

.share {
	text-align: center;
  a {
    text-decoration: none;
    color: #bbb;
    padding-left: 12px;
    .hidden {
      display: none;
    }
    &:hover {
      color: #333;
    }
  }
}

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: #grey;
        }
      }
    }

form.newsletter input[type="submit"], form.search input[type="submit"] {
background: black;
border: none;
border-radius: 0 2px 2px 0;
color: white;
float: left;
font: 12px/22px din-light, sans-serif;
height: 27px;
overflow: hidden;
padding: 3px 10px 1px;
text-transform: uppercase;
}

form.newsletter input[type="text"], form.search input[type="text"] {
border: 1px solid #d0d0d0;
border-right: 0;
border-radius: 2px 0 0 2px;
color: #797979;
float: left;
font-size: 11px;
line-height: 14px;
padding: 6px 5px 5px;
width:130px;
display: block;
}

form {
display: inline-block;
}

.newsletter-wrapper {
margin-top: 250px;
}

// label {
//     /* Other styling.. */
//     text-align: right;
//     clear: both;
//     float:left;
//     margin-right:15px;
// }